
@{
    ViewBag.Title = "Teşekkürler";
    Layout = "_Layout";
}

<br><br>
<br><br>
<div class="container text-center mt-5">
    <h2>Siparişiniz Alındı!</h2>
    <p>Teşekkür ederiz. Siparişiniz başarıyla alınmıştır.</p>
    <a href="/" class="btn btn-primary mt-3">Ana Sayfaya Dön</a>
</div>
